# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# MkDocs build output
site/
_site/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfplan

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env
*.env.local
